@model BeerOverflow.Web.Models.BeerViewModel;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa-star{
            color:gainsboro
        }
        .checked {
            color: orange;
        }
        
    </style>
</head>
<h1>Details</h1>

<div>
    <h4>Beer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BeerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BeerName)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlcByVol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlcByVol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BeerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BeerType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brewery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgRating)
        </dt>
        <dd class="col-sm-10">
            @if (Model.AvgRating == 0)
            {
                <text>Not rated yet</text>
            }
            else
            {
                @for (int i = 0; i < (int)@Model.AvgRating; i++)
                {
                    <span class="fa fa-star checked"></span>
                }
                @for (int i = (int)@Model.AvgRating; i < 5; i++)
                {
                    <span class="fa fa-star"></span>
                }
            }
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateUnlisted)
            </dt>
            <dd class="col-sm-10">
                @if (Model.DateUnlisted == null)
                {
                    <p class="text-secondary">Not unlisted</p>
                }
                else
                {
                    @Html.DisplayFor(model => model.DateUnlisted)
                }
            </dd>
        }
    </dl>

</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

<h2> Reviews </h2>
@if (Model.Reviews.Count == 0)
{
    <p>There's no reviews for this beer</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().RMessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().User.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reviews.FirstOrDefault().ReviewedOn)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (User.IsInRole("Admin"))
            {
                @foreach (var review in Model.Reviews)
                {
                    <tr>
                        <td>
                            @for (int i = 0; i < @review.Rating; i++)
                            {
                                <span class="fa fa-star checked"></span>
                            }
                            @for (int i = @review.Rating; i < 5; i++)
                            {
                                <span class="fa fa-star"></span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(model => review.RMessage)
                        </td>
                        <td>
                            @Html.DisplayFor(model => review.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => review.ReviewedOn)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="BeerReview" asp-action="Edit" asp-route-id="@review.Id">
                                Modify review
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                @foreach (var review in Model.Reviews.Where(r => r.DeletedOn == null))
                {
                    <tr>
                        <td>
                            @for (int i = 0; i < @review.Rating; i++)
                            {
                                <span class="fa fa-star checked"></span>
                            }
                            @for (int i = @review.Rating; i < 5; i++)
                            {
                                <span class="fa fa-star"></span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(model => review.RMessage)
                        </td>
                        <td>
                            @Html.DisplayFor(model => review.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => review.ReviewedOn)
                        </td>
                      
                    </tr>
                }
            }

        </tbody>
    </table>
}


@if ((User.IsInRole("Admin") && Model.DateUnlisted == null) || User.IsInRole("User"))
{
    <a class="btn btn-primary" asp-action="AddReview" asp-route-id="@Model.Id">
        Add review
    </a>
}


